
{% extends "news/layout.html" %}

{% block container %}
<h2>Hyper news</h2>
<h3>search news</h3>
<form action="/news/" method="get">
    <label for="q">q</label>
    <input type="text" id="q" name="q">
    <input type="submit" value="submit">
</form>

   {% for d,group in news %}
    <h4> {{d  | date:"Y-m-d" }}</h4>

   <ul>
       {% for new in group %}
        <li><a href="/news/{{new.link}}/" target="_blank" >{{new.title}}</a></li>
       {% endfor %}
   </ul>

    {% endfor %}
{% endblock %}


